---
---

@import "{{ site.theme }}";
.page-header {
  padding: 40px 96px 40px 96px;
  position: relative;
}


html {
    background: url(hmc.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*responsiveness*/
/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

img { max-width: 100%; }


html { font-size:100%; }

/*navbar*/
.topnav {
  background-color: transparent;
  //background-color:rgb(0, 70, 150);
  opacity: 0.4;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  background-color: #166E82;
  border-bottom: 3px solid red;
}


/*$body-bg: transparent; */

* {
  margin: 0;
  padding: 0;
}


html,
body {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

body:before {
  content: "";
  display: block;
  position: fixed; /* could also be absolute */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  //z-index: 10;
  background-color: rgba(86, 61, 124, 0.5);
}

.layer {
    background-color: rgba(86, 61, 124, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.hero {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

.hero::before {
  background-image: url(hmc.jpg);
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.4;
}

body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    text-align: center;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    position: relative;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    position: relative;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2px 16px 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: red;
  background-color: transparent;
}
a {
    text-decoration: none;
    color: #999;
}
// a:hover {
//     text-decoration: underline;
// }
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.1em;
    line-height: 1.4em;
    color: white; // was #333
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.grid {
  align-items: stretch;
}

.griditem {
  display: flex;
  align-items: center;
}

.main-content {
  display: inline-grid;
  position: relative;
  z-index: 1;
}

.grid-container {
  display: inline-grid;
  grid-column-gap: 30px;
}

.text-block {
  text-align: center;
  position: center;
  width: 650px;
  bottom: 20px;
  right: 20px;
  background-color: gainsboro;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.projects .col-md-3 .title {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
